<mat-toolbar  *ngIf="authService.estaLogado" color="primary">
  <mat-toolbar-row>
    <a routerLink="/home"  mat-button>Home</a>
    <a routerLink="/jogar" mat-button>Jogar</a>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <button *ngIf="authService.estaLogado" mat-button [matMenuTriggerFor]="menu">{{authService.estaLogado.user}}</button>
    <mat-menu #menu="matMenu">
      <button (click)="handleSair()" mat-menu-item>Sair</button>
    </mat-menu>
    <button mat-icon-button>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>