<div fxLayout="row" fxLayoutAlign="center center" style="height:calc(100% - 64px)">
  <mat-card style="height:325px ;width: 300px" class="example-card">
    <mat-card-header>
      <mat-card-title>Registrar</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <div [formGroup]="Form" style="width:100%;">

        <mat-form-field>
          <input type="text" matInput placeholder="Usuario" formControlName="usuario">
          <mat-error *ngIf="this.Form.get('usuario').hasError"></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email">
          <mat-error *ngIf="this.Form.get('email').hasError"></mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Senha" formControlName="senha">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirmar Senha" formControlName="senhaConfirma">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!this.Form.valid" (click)="handleRegistrar()" color="primary">Registrar</button>
      <button mat-raised-button (click)="handleCancelar()"> Cancelar</button>
    </mat-card-actions>

  </mat-card>
</div>